@import "/home/luffy/.cache/wal/colors-waybar.css";

/* === Universal Styles === */
* {
    font-family: "JetBrainsMono Nerd Font Propo";
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

/* === Waybar Window === */
window#waybar {
    background: transparent;
    margin: 6px 1px;
    padding: 0;
}

window#waybar.hidden {
    opacity: 0.0;
}

/* === Module Styling (Global Modules) === */
#custom-updates,
#idle_inhibitor,
#pulseaudio,
#clock,
#memory,
#cpu,
#tray,
#battery,
#custom-power,
#backlight,
#custom-launcher,
#workspaces {
    color: @foreground;
    background-color: @background;
    border: 2px solid @border-module;
    border-radius: 11px;
    padding: 2px 4px;
    margin: 0 4px;
}

/* === Launcher Specific Overrides === */
#custom-launcher {
    padding-right: 5px;
}

/* === Workspaces === */
#workspaces {
    padding: 0 1ex;
    margin-left: 4px;
    margin-right: 4px;
}

#workspaces button {
    all: initial;
    font-family: "JetBrainsMono Nerd Font Propo";
    font-size: 15px;
    margin: 0 5px 0 1px;
    padding: 2px 4px;
    border-radius: inherit;
    color: @foreground;
}

/* Active workspace */
#workspaces button.active {
    background-color: @color4;
    color: @foreground;
}

/* Hovered workspace */
#workspaces button:hover {
    background-color: @color5;
    color: @background;
}

/* Urgent workspace */
#workspaces button.urgent {
    background-color: @color1;
    color: @background;
}
